@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC';
}

span{
  color: rgb(241, 90, 56);
}

/* hero section style */

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0)), url(images/pexels-negative-space-160107.jpg);
  background-position: center;
  background-size: cover;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  font-size: 25px;
  list-style-type: none;
  display: inline-block;
  margin-right: 5%;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transform: translateY(5px);
  transition-duration: 0.5s;
}

.select_menu{
  display: none;
  position: absolute;
  right: 1em;
  margin-top: 2%;
  width: 300px;
  height: 0px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.select_menu.open{
  display: flex;
  height: 220px;
  justify-content: center;
  align-items: center;
}

.select_menu ul li{
  list-style-type: none;
  font-size: 20px;
  font-weight: normal;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
}

.select_menu ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

.select_menu ul li a:hover{
  color: rgb(255, 152, 107);
  transition-duration: 0.5s;
}

nav ul li a:hover{
  transform: translateY(-5px);
  color: rgb(255, 152, 107);
  transition-duration: 0.5s;
}

.select_icon{
  display: none;
}

.logo{
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.logo_word{
  font-size: 38px;
  font-weight: bolder;
  color: white;
  display: inline;
}


.content{
  padding: 200px 0 10% 5%;
}

.content h3{
  color: rgb(255, 152, 107);
  font-size: 20px;
  font-weight: bold;
}

.content h1{
  color: white;
  font-size: 100px;
}

.content h1 span{
  color: rgb(241, 90, 56);
}

.content h2{
  color: white;
  font-size: 30px;
  font-weight: bold;
}

/* about section style */

.about{
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: linear-gradient(black, rgb(27, 27, 27));
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.about_text{
  width: 600px;
}

.main{
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about_img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.about_img img{
  width: 200px;
  height: auto;
}

.about_text h2{
  color: white;
  font-size: 75px;
}

.about_text_content{
  color: rgb(255, 152, 107);
  font-size: 20px;
  margin-top: 10px;
  padding: 15px;
}

.service{
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: linear-gradient(rgb(27, 27, 27), black);
  box-sizing: border-box;
}

.service h2{
  color: white;
  font-size: 45px;
  text-align: center;
}

.skill{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

.skill_block{
  flex: 1;
  text-align: center;
  background-image: linear-gradient(rgb(40, 40, 40), rgb(27, 27, 27));
  padding: 30px;
  margin: 30px;
  border-radius: 30px;
}

.skill_block img{
  width: 120px;
  height: auto;
}

.skill_block h3{
  padding: 20px 0 10px 0;
  color: rgb(241, 90, 56);
}

.skill_block p{
  color: white;
}

.contact{
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: linear-gradient(black, rgb(27, 27, 27));
  box-sizing: border-box;
}

.contact h2{
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 5%;
}

.info{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 5% 0 5%;
  justify-content: space-around;
}

.info_block{
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 20px;
  background-image: linear-gradient(rgb(40, 40, 40), rgb(27, 27, 27));
  border-radius: 50px;
  box-shadow: 0 10px 20px -5px rgba(149, 149, 149, 0.3);
  align-items: center;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.info_block:hover{
  transform: translateY(10px);
  transition-duration: 0.5s;
  box-shadow: none;
  cursor: pointer;
}

.info_block img{
  width: 35px;
  height: auto;
  padding: 2%;
}

.info_block p{
  flex: auto;
  color: white;
  font-size: 20px;
  text-align: center;
}

footer{
  width: 100%;
  height: 10%;
  background-color: rgb(241, 90, 56);
}

.footer_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


.sns img{
  width: 30px;
  height: auto;
  padding: 20px 20px 0 20px;
}

.footer_container h2{
  color: white;
  font-size: 15px;
  padding: 20px 0 20px 0;
}

@media (max-width:1250px) {

  .logo{
    width: 60px;
    height: auto;
  }

  .logo_word{
    font-size: 28px;
    font-weight: bolder;
    color: white;
    display: inline;
  }

  nav ul li{
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
  }

  .about_text h2{ font-size: 50px;}

  .skill img{ width: 100px; }
  .skill h3{ font-size: 15px; }
  .skill p{ font-size: 10px; }

  .info_block p{font-size: 16px;}
}

@media (max-width:947px) {

  nav{
    display: none;
  }

  .select_menu{
    display: block;
  }

  .select_icon{
    display: flex;
    margin-left: auto;
  } 

  .select_icon img{
    width: 32px;
    height: auto;
  }
  
  .about_text{ 
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about_text h2{ 
    padding-top: 20px;
  }

  .skill{
    flex-direction: column;
  }

  .skill_block{
    display: flex;
    align-items: center;
  }

  .skill_block img{
    width: 70px;
    height: 70px;
    margin-right: 25px;
  }

  .skill_block h3, .skill_block p{
    padding: 5px;
    text-align: left;
    font-size: 15px;
  }

  .info{
    flex-direction: column;
  }

  .info_block p{
    font-size: 20px;
  }

}

@media (max-width:700px) {
  
  .content h1{
    font-size: 75px;
  }

  .content h2{
    font-size: 25px;
  }

}

@media (max-width:576px) {
  
  .logo{
    width: 45px;
    height: auto;
  }

  .logo_word{
    font-size: 20px;
  }

  .content h3{
    font-size: 15px;
  }

  .content h1{
    font-size: 50px;
  }

  .content h2{
    font-size: 20px;
  }

  .about_img{
    width: 50px;
    height: auto;
  }

  .select_menu{
    left: 1rem;
    width: unset;
  }

  .service h2{
    font-size: 30px;
  }

  .skill_block{
    padding: 10px;
  }

  .skill_block img{
    width: 40px;
    height: auto;
    margin: 0 auto;
  }

  .skill_content{
    padding-left: 10px;
  }

  .skill_block h3{
    font-size: 5px;
  }
  .skill_block p{
    font-size: 3px;
  }

  .contact h2{
    font-size: 30px;
  }

  .info_block p{
    font-size: 18px;
  }

}